<div class="flex justify-between items-center px-8 py-4">
    <!-- left side -->
    <nav hlmNavigationMenu>
        <ul hlmNavigationMenuList>
            @for (r of routes; track r) {
                <li hlmNavigationMenuItem class="px-1">
                    <a hlmNavigationMenuLink hlmSmall [routerLink]="r.path">{{ r.name }}</a>
                </li>
            }
        </ul>
    </nav>

    <!-- logo text -->
    <h3 hlmH3>max niessl.</h3>

    <!-- right side -->
    <nav hlmNavigationMenu>
        <ul hlmNavigationMenuList>
            @for (s of socials; track s) {
                <li hlmNavigationMenuItem class="px-1">
                    <a hlmNavigationMenuLink hlmlSmall [href]="s.path" target="_blank">{{ s.name }}</a>
                </li>
            }
        </ul>
    </nav>
</div>
